.form{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap:20px;
}

.form__paragraph{
    padding: 10px;
}

.form__addButton{
    background-color: teal;
    color: white;
}